@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://github.com/nhimc9x/nhom2_qlttsv">building Web apps with ASP.NET Core</a>.</p>

    <div class="b-example-divider"></div>
    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 text-start border-bottom">Các chức năng</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
            <div class="col d-flex align-items-start px-5 mt-3">
                <div class="bg-white py-5 px-4 rounded-3">
                    <i class="fa-solid fa-table fs-1 p-3 rounded-3 bg-secondary text-white mb-4"></i>
                    <h3 class="fs-2 text-body-emphasis">Danh sách sinh viên</h3>
                    <p>Hiển thị bảng đầy đủ các thông tin của sinh viên kèm thêm chức năng tìm kiếm, sắp xếp, phân trang các thông tin.</p>
                    <a class="btn px-4 btn-primary" asp-area="" asp-controller="Content" asp-action="Index">Truy cập</a>
                </div>
            </div>
            <div class="col d-flex align-items-start px-5 mt-lg-3 mt-5">
                <div class="bg-white py-5 px-4 rounded-3">
                    <i class="fa-solid fa-screwdriver-wrench fs-1 p-3 rounded-3 bg-secondary text-white mb-4"></i>
                    <h3 class="fs-2 text-body-emphasis">Quản lý sinh viên</h3>
                    <p>Trang quản lý các thông tin sinh viên gồm thêm mới thông tin, sửa thông tin và xóa thông tin.</p>
                    <a class="btn px-4 btn-primary" asp-area="" asp-controller="Admin" asp-action="Index">Truy cập</a>
                </div>
            </div>
        </div>
    </div>
</div>
