@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model quanlythongtinsinhvien.Models.Student

@{
    ViewData["Title"] = "Sửa thông tin sinh viên";
    Layout = "_FormLayout";
}

<div class="row box-form">
    <div class="col-12">
        <form method="post" asp-action="Suathongtin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-6">
                    <div class=" m-1 mb-1 d-flex align-items-center gap-2">
                        <i class="fa-solid fa-address-card"></i>
                        <label asp-for="Masv" class="control-label"></label>
                        <span class="text-danger">(*)</span>
                    </div>
                    <input asp-for="Masv" class="form-control" />
                    <span asp-validation-for="Masv" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <div class=" m-1 mb-1 d-flex align-items-center gap-2">
                        <i class="fa-solid fa-user"></i>
                        <label asp-for="Tensv" class="control-label"></label>
                        <span class="text-danger">(*)</span>
                        <span asp-validation-for="Tensv" class="text-danger"></span>
                    </div>
                    <input asp-for="Tensv" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <div class=" m-1 mb-1 d-flex align-items-center gap-2">
                        <i class="fa-solid fa-venus-mars"></i>
                        <label asp-for="Gioitinh" class="control-label"></label>
                        <span asp-validation-for="Gioitinh" class="text-danger"></span>
                    </div>
                    <input asp-for="Gioitinh" class="form-control" />
                </div>
                <div class="form-group col-6">
                    <div class=" m-1 mb-1 d-flex align-items-center gap-2">
                        <i class="fa-solid fa-cake-candles"></i>
                        <label asp-for="Ngaysinh" class="control-label"></label>
                        <span asp-validation-for="Ngaysinh" class="text-danger"></span>
                    </div>
                    <input asp-for="Ngaysinh" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <div class=" m-1 mb-1 d-flex align-items-center gap-2">
                        <i class="fa-solid fa-location-dot"></i>
                        <label asp-for="Quequan" class="control-label"></label>
                        <span asp-validation-for="Quequan" class="text-danger"></span>
                    </div>
                    <input asp-for="Quequan" class="form-control" />
                </div>
                <div class="form-group col-6">
                    <div class=" m-1 mb-1 d-flex align-items-center gap-2">
                        <i class="fa-solid fa-phone"></i>
                        <label asp-for="Sodienthoai" class="control-label"></label>
                        <span asp-validation-for="Sodienthoai" class="text-danger"></span>
                    </div>
                    <input asp-for="Sodienthoai" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class=" m-1 mb-1 d-flex align-items-center gap-2">
                    <i class="fa-regular fa-clipboard"></i>
                    <label asp-for="Ghichu" class="control-label"></label>
                    <span asp-validation-for="Ghichu" class="text-danger"></span>
                </div>
                <input asp-for="Ghichu" class="form-control" />
            </div>
            <div class="form-group text-center mt-3">
                <input style="width: 140px;" type="submit" value="Sửa" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>
<div class="text-end">
    <a asp-action="Index">Trở về</a>
</div>
