html {
    font-size: 14px;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.ct-container {
    max-width: 1536px;
    width: 100%;
    margin: 0 auto;
}

header.default-layout {
    padding: 8px 24px;
    position: sticky;
    top: 0px;
    background-color: rgb(255 255 255 / 75%);
    backdrop-filter: blur(6px);
}

.default-layout nav a {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

    .default-layout nav a:hover {
        background: #0d6efd;
        color: white !important;
    }

    .default-layout nav a.ct-active {
        color: #198754;
    }

main {
    background: #ecf0f1;
    /*padding: 40px 0;*/
}

.text-asbe {
    color: #7f8c8d;
}

.ct-content {
    padding: 16px 8px;
}

.ad-tbody tr td {
    line-height: 38px;
}

.box-form .row {
    margin-bottom: 12px;
}

.ct-layout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(45, 52, 54, 0.5);
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: center;
}

.ct-modal {
    width: 400px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    animation: showModal ease-in-out .3s;
}

.ct-modal-text {
    text-align: center;
    padding: 28px;
}

.ct-modal-btn {
    display: flex;
    text-align: center;
    border-top: 1px solid #dfe6e9;
}

    .ct-modal-btn a {
        flex-basis: 50%;
        padding: 12px 0;
        transition: linear .3s;
        cursor: pointer;
    }

        .ct-modal-btn a:hover {
            background: #ecf0f1;
        }

        .ct-modal-btn a:first-child {
            border-right: 1px solid #dfe6e9;
        }

@keyframes showModal {
    from {
        transform: scale(0.6);
        opacity: .5;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.ct-box-cele {
    box-shadow: 1px 1px 25px #0000002b;
}

.ct-header-wall {
    background: url('../blue-pattern.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 420px;
}

.ct-avatar {
    height: 120px;
    width: 120px;
    background: url('../Picture2.jpg') no-repeat center top;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid rgba(45, 52, 54, 0.2);
    margin: 0 auto;
}

.ct-notyfi {
    position: fixed;
    bottom: 10px;
    left: 20px;
    gap: 16px;
    z-index: 99;
    animation: showNoty ease-in-out 4s forwards;
}

@keyframes showNoty {
    0%, 100% {
        transform: translateX(-120%);
        opacity: .5;
    }

    10%,90% {
        transform: translateX(0);
        opacity: 1;
    }
}

#ct-contact-id .ic-ping:hover i {
    animation: ICping linear .2s infinite;
}

@keyframes ICping {
    from {
        transform: rotate(15deg);
    }

    to {
        transform: translateX(-15deg);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-18%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.ct-footer-wall {
    background: url('../ftban.jpg') bottom center no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
}

#ct-form-body {
    background: url('../bgform.png');
    background-size: cover;
    margin-bottom: 0;
}



@media only screen and (min-width:1170px) {
    .cd-is-hidden {
        visibility: hidden;
    }
}


/* --------------------------------

Vertical Timeline

-------------------------------- */

.cd-timeline {
    overflow: hidden;
    margin: 2em auto;
}

.cd-timeline__container {
    position: relative;
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 2em 0;
}

    .cd-timeline__container::before {
        /* this is the vertical line */
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: #dedee9;
    }

@media only screen and (min-width:1170px) {
    .cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .cd-timeline__container::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline__block {
    position: relative;
    margin: 2em 0;
}

    .cd-timeline__block:after {
        /* clearfix */
        content: "";
        display: table;
        clear: both;
    }

    .cd-timeline__block:first-child {
        margin-top: 0;
    }

    .cd-timeline__block:last-child {
        margin-bottom: 0;
    }

@media only screen and (min-width:1170px) {
    .cd-timeline__block {
        margin: 4em 0;
    }
}

.cd-timeline__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

    .cd-timeline__img img {
        display: block;
        width: 24px;
        height: 24px;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -12px;
        margin-top: -12px;
    }

    .cd-timeline__img.cd-timeline__img--picture {
        background: #2ec551;
    }

    .cd-timeline__img.cd-timeline__img--movie {
        background: #ef172c;
    }

    .cd-timeline__img.cd-timeline__img--location {
        background: #ffc108;
    }

@media only screen and (min-width:1170px) {
    .cd-timeline__img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration */
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

        .cd-timeline__img.cd-timeline__img--bounce-in {
            visibility: visible;
            -webkit-animation: cd-bounce-1 0.6s;
            animation: cd-bounce-1 0.6s;
        }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.cd-timeline__content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

    .cd-timeline__content:after {
        /* clearfix */
        content: "";
        display: table;
        clear: both;
    }

    .cd-timeline__content::before {
        /* triangle next to content block */
        content: '';
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 7px solid white;
    }

    .cd-timeline__content h2 {
    }

    .cd-timeline__content p,
    .cd-timeline__read-more,
    .cd-timeline__date {
    }

    .cd-timeline__content p {
    }

.cd-timeline__read-more,
.cd-timeline__date {
    display: inline-block;
}

.cd-timeline__read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
}

    .cd-timeline__read-more:hover {
        background-color: #bac4cb;
    }

.cd-timeline__date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}

@media only screen and (min-width:768px) {
    .cd-timeline__content h2 {
    }

    .cd-timeline__content p {
    }

    .cd-timeline__read-more,
    .cd-timeline__date {
    }
}

@media only screen and (min-width:1170px) {
    .cd-timeline__content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
        /* Force Hardware Acceleration */
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

        .cd-timeline__content::before {
            top: 24px;
            left: 100%;
            border-color: transparent;
            border-left-color: white;
        }

    .cd-timeline__read-more {
        float: left;
    }

    .cd-timeline__date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 18px;
    }

    .cd-timeline__block:nth-child(even) .cd-timeline__content {
        float: right;
    }

        .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
            top: 24px;
            left: auto;
            right: 100%;
            border-color: transparent;
            border-right-color: white;
        }

    .cd-timeline__block:nth-child(even) .cd-timeline__read-more {
        float: right;
    }

    .cd-timeline__block:nth-child(even) .cd-timeline__date {
        left: auto;
        right: 122%;
        text-align: right;
    }

    .cd-timeline__content.cd-timeline__content--bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width:1170px) {

    /* inverse bounce effect on even content blocks */
    .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
