<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/student-management-01.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="~/quanlythongtinsinhvien.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.css" asp-append-version="true" />
</head>
<body class="ct-container">
    <header class="py-3 mb-2 border-bottom">
        <div class="container d-flex gap-4 flex-wrap justify-content-center">
            <a href="" class="text-decoration-none mx-auto d-flex align-items-center mb-3 mb-lg-0 me-lg-auto gap-3 text-success">
                <i style="font-size: 32px" class="fa-solid fa-graduation-cap text-asbe"></i>
                <span class="fs-2">@ViewData["Title"]</span>
            </a>
        </div>
    </header>

    <div class="ct-content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-chevron px-3 py-0 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis text-asbe" href="/">
                        <i class="fa-solid fa-house-chimney"></i>
                        <span class="visually-hidden">Home</span>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis fw-semibold text-decoration-none" href="">@ViewData["Title"]</a>
                </li>
            </ol>
        </nav>
        <main role="main" class="py-4">
            @RenderBody()
        </main>
    </div>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex flex-column align-items-center">
            <span class="mb-3 mb-md-0 text-muted">© 2023 Lập trình ASP.NET, Nhóm 2</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex align-content-center pe-4 gap-2">
            <li class="">
                <a class="text-muted" href="https://github.com/nhimc9x/nhom2_qlttsv">
                    <i class="fa-brands fa-square-github fs-2"></i>
                </a>
            </li>
            <li class="">
                <a class="text-muted" href="https://www.facebook.com/">
                    <i class="fa-brands fa-square-facebook fs-2"></i>
                </a>
            </li>
            <li class="">
                <a class="text-muted" href="https://www.youtube.com/">
                    <i class="fa-brands fa-square-youtube fs-2"></i>
                </a>
            </li>
        </ul>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jqueryMain.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/data-table.js"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
